button {
    margin-right: 2px;
}

.todo {
    color: rgba(0, 60, 255, 0.7);
    font-family: Arial, Helvetica, sans-serif; 
}

.doing {
    color: rgb(255, 0, 200);
    font-family: "Times New Roman", Times, serif;
}

.done {
    color: rgb(255, 0, 0);
    text-decoration: line-through;
}

#edit {
    background-color: rgba(0, 60, 255, 0.7);
    border: rgba(0, 60, 255, 0.7);
}